@import "./../../../styles/variables";
.logo {
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.orange {
  color: $orange;
  margin-right: 7px;
  font-weight: bold;
}

.blue {
  color: $blue-logo;
}
