@import "./../../../styles/variables";
.logo {
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue-logo;
}
