$orange: #e6690a;
$blue-logo: #462d90;
$blue-button: #4c65b7;
$red-button: #d54b31;
$coral-button: #f7d4bf;
$red-error: #c22600;
$gray-text: #868494;
$accent-gray: #59546e;
$light-white: #f8faff;
$gray-title: #716d81;
$gray-border: #eceef5;
