@import "../../../styles/variables";

.title {

  &-text {
    text-align: center;
    color: $accent-gray;
  }
}

.form {

  &-title {
    text-align: center;
    color: $gray-text;
  }
}

mat-form-field {
  display: block;
}
