<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-12 col-lg-5 col-sm-9">
      <odds-logo></odds-logo>
      <div class="title">
        <h2 class="title-text">
          Create new password
        </h2>
      </div>
      <div class="wrapper-form">
        <p class="form-title">
          Please enter your password below to access yor account
        </p>
      </div>
    </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-6">
        <form [formGroup]="passwordForm" (submit)="onSubmit(passwordForm)">
          <!--            <div class="server-error"
                           *ngIf="serverError"
                      >
                        Oops! The email or password you entered is incorrect. Please try again.
                      </div>-->

          <div class="form-password">
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="passwordForm.get('password').invalid">{{getErrorMessage(passwordForm.get('password'))}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-password confirm">
            <mat-form-field>
              <input matInput placeholder="Confirm password" formControlName="confirmPassword" [type]="hideConfirm ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="passwordForm.get('confirmPassword').invalid">{{getErrorMessage(passwordForm.get('confirmPassword'))}}</mat-error>
            </mat-form-field>
          </div>
          <odds-button class="btn-submit"
                       [text]="'Create new password'"
                       [type]="'submit'"
                       [valid]="passwordForm.valid"
                       [invalid]="passwordForm.invalid"
          ></odds-button>

        </form>
      </div>
    </div>
  </div>
</div>
