@import "../../../styles/variables";

.wrapper {
  margin-top: 100px;
}

.title {

  &-text {
    text-align: center;
    color: $accent-gray;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: bold;
  }
}

.form {

  &-title {
    text-align: center;
    color: $gray-text;
    padding-bottom: 15px;
  }
}

mat-form-field {
  display: block;
}
