:host {
  display: block;
}

.wrapper {
  position: relative;
}

.result {
  position: absolute;
  top: 0;
  width: 35px;
  text-align: center;
  transition: .8s ease;
  transform: translateX(-50%);
}

mat-slider {
  display: block;
}
