<!--<div class="wrapper">
  <div class="result"
       [ngStyle]="{left: value + '%'}"
  >
    {{value}}%
  </div>
  <mat-slider
    class="example-margin"
    [invert]="invert"
    [max]="max"
    [min]="min"
    [step]="step"
    [thumb-label]="thumbLabel"
    [tick-interval]="tickInterval"
    [(ngModel)]="value"
    [vertical]="vertical">
  </mat-slider>
</div>-->
<div #volume class='slider'>
  <p class="value min" *ngIf="+value > 17">{{min}} %</p>
  <p class="value max" *ngIf="+value < 70">{{max}} %</p>
  <output class='slider-output'
          [ngStyle]="{left: value + '%'}"
  >
    <span class="slider-value">{{value}}</span>%
  </output>
  <div class='slider-track'>
    <div class='slider-thumb'
         [ngStyle]="{left: value + '%'}"
    >
    </div>
    <div class='slider-level'
         [ngStyle]="{width: value + '%'}"
    ></div>
  </div>
  <input class='slider-input' [(ngModel)]="value" type='range' value='50' min='0' max='100' />
</div>

