<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <odds-logo></odds-logo>
        <div class="title trial">
          <span class="trial-text">
            Start your free 7 day trial today!
          </span>
        </div>
      </div>



    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <button mat-raised-button class="btn-width btn-facebook">Sign up with Facebook (Confirm T&C)</button>
        <button mat-raised-button class="btn-width btn-google">Sign up wish Google (Confirm T&C)</button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="or">
          <span class="or-text">
            or
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="wrapper-form">
          <form class="sign-up" [formGroup]="signUp" (submit)="onSubmit($event, signUp)">
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="name" type="text">
              <mat-error *ngIf="signUp.get('name').invalid">{{getErrorMessage(signUp.get('name'))}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" type="email">
              <mat-error *ngIf="signUp.get('email').invalid">{{getErrorMessage(signUp.get('email'))}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="signUp.get('password').invalid">{{getErrorMessage(signUp.get('password'))}}</mat-error>
            </mat-form-field>

            <div class="confirm-rules">
              <p class="confirm-text">
                By clicking Sign up, you agree to the <a class="terms-conditions link">Terms & Conditions</a>
                and confirm that you are at least 18 years old.
              </p>
            </div>
            <button type="submit" mat-raised-button class="btn-submit btn-width"
                    [disabled]="signUp.invalid"
                    [class.valid]="signUp.valid"
            >
              Sign Up
            </button>
          </form>
        </div>

        <div class="have-account">
          Already have an AppName account? <a class="link login" routerLink="/auth/sign-in">Log in here</a>
        </div>
      </div>
    </div>
  </div>

</div>

