<odds-header></odds-header>
<div class="section-bet-feed">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
          Value bet feed
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="block-filter">
          <odds-list-filter ><!--[filters]="listFilter"-->
            <button type="button" mat-raised-button class="btn btn-width"
                    (click)="openModal()"
            >
              Add filters
            </button>
          </odds-list-filter>
        </div>
      </div>
      <div class="col-md-9">
        <div class="block-table-result">
          table
          <div style="width: 200px;">
            <odds-input [formControl]="control"></odds-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<button (click)="logOut()">log Out</button>-->
