<div class="wrapper-info">
  <mat-card>
    <mat-card-header class="card-header no-line">
      <mat-card-title class="cvc-title">
        Your card code is a 3 or 4 digit number that is found in these locations:
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="cvc-information">
        <div class="cvc-description">
          <div class="cvc-card-title">
            Visa/ Mastercard
          </div>
          <div class="cvc-text">
            The security code is a 3 digit number on the
            back of your credit card. It immediately
            follows your main card number.
          </div>
        </div>
        <div class="cvc-img">
          <img src="/assets/images/payment/card-0.png" alt="card-0">
        </div>
      </div>
      <div class="cvc-information">
        <div class="cvc-description">
          <div class="cvc-card-title">
            American express
          </div>
          <div class="cvc-text">
            The security code is a 4 digit number on
            the front of your card? just above and to
            the right of your main card number.
          </div>
        </div>
        <div class="cvc-img">
          <img src="/assets/images/payment/card-1.png" alt="card-0">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
