<router-outlet></router-outlet>

<!--<a [routerLink]="['/auth/sign-in']">sign-in</a>-->
<!--<a [routerLink]="['/auth/sign-up']">sign-up</a>-->
<!--<a [routerLink]="['/membership']">membership</a>-->
<!--<a [routerLink]="['/']">main</a>-->
<!--<a [routerLink]="['/profile/']">/profile/</a>-->
<!--<a [routerLink]="['/FAQ']">FaqModule</a>-->
<!--<a [routerLink]="['/payment']">payment</a>-->
<!--<a [routerLink]="['/auth/done']">done</a>-->
<!--<a [routerLink]="['/auth/password_reset/55555']">password_reset</a>-->
<!--<div style="width: 150px; margin: 20px auto;">-->
  <!--<odds-ranges></odds-ranges>-->
<!--</div>-->


