<div class="wrapper">
  <odds-field [title]="title"
             (click)="toggleDropdown($event)"
             [disabled]="disabled"
             [isVisible]="isVisible"
             [hasError]="ngControl?.invalid && ngControl.touched && focus"
  ></odds-field>
  <odds-list *ngIf="isVisible"
            [maxHeight]="settings.maxHeight"
            [isVisible]="isVisible"
            [filteredOptions]="filteredOptions"
            [showCheckAll]="settings.showCheckAll"
            [checkAllText]="texts.checkAll"
            [options]="options"
            [settings]="settings"
            (isChecked)="onSelect($event)"
  ></odds-list>
  <div class="mat-form-field-subscript-wrapper " *ngIf="ngControl?.invalid && ngControl.touched && focus">
    <p class="mat-error" >{{getErrorMessage(ngControl)}}</p>
  </div>
</div>
