<div class="input-group search-container" *ngIf="settings.enableSearch">
  <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
  </div>
  <input type="text" class="form-control" ssAutofocus [formControl]="filterControl" [placeholder]="texts.searchPlaceholder"
         class="form-control">
  <div class="input-group-append" *ngIf="filterControl.value.length>0">
    <button class="btn btn-default btn-secondary" type="button" (click)="clearSearch($event)">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
