<div class="wrapper-list">
  <ng-content ></ng-content>
  <div class="section-list"*ngIf="filters?.length; else noContent" >
    <div class="list-filters">
      <mat-accordion >
        <!--<odds-filter class="item-filter" *ngFor="let filter of filters"-->
        <!--[filter]="filter"-->
        <!--&gt;-->
        <!--</odds-filter>-->

        <mat-expansion-panel class="item-filter" *ngFor="let filter of filters"
                             [class.active-filter]="applyFilter === filter.id">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="title filter-name" [class.active-name]="applyFilter === filter.id">{{filter.name}}</span>
            </mat-panel-title>
            <mat-panel-description *ngIf="applyFilter === filter.id">
              <span class="apply-text">(Applied)</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="bookmakers">
            <span class="bookmakers title">Bookmakers:</span>
            <span class="bookmakers text">{{getListText(filter.bookmakers)}}</span>
          </p>
          <p class="markets">
            <span class="markets title">Markets:</span>
            <span class="markets text">{{getListText(filter.markets)}}</span>
          </p>
          <p class="odds-range">
            <span class="odds-range title">Odds range:</span>
            <span class="odds-range text">{{filter.oddsRange?.from}} - {{filter.oddsRange?.to}}</span>
          </p>
          <p class="edge">
            <span class="edge title">Edge</span>
            <span class="edge text">{{filter.edge?.from}} - {{filter.edge?.to}}%</span>
          </p>
          <p class="time">
            <span class="time title">Time until start:</span>
            <span class="time text"> {{filter.time?.from}} - {{filter.time?.to}} hours</span>
          </p>
          <mat-action-row>
            <div class="action-block">
              <button mat-button class="btn edit" (click)="edit()">Edit</button>
              <button mat-button class="btn apply" (click)="apply(filter.id)">Apply</button>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<ng-template #noContent>
  <div class="no-content">
    <div class="arrow-img">
      <img [src]="'./assets/images/home-page/arrow.png'" class="arrow-img_position" alt="img">
    </div>
    <div class="no-content-wrapper">
      <p class="no-content-title">
        Start here!
      </p>
      <p class="no-content-description">
        Add filters to populate the value bet feed.
      </p>
    </div>
  </div>
</ng-template>
