:host {
  display: block;
}
.input-simple {
  width: 100%;
  display: block;
}
.wrapper  {
  padding-bottom: 1.25em;
  position: relative;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.wrapper-error {
  position: relative;
}

.mat-error {
  color: #f44336;
  text-align: left;
  font-size: 100%;
}
.mat-form-field-subscript-wrapper {
  position: absolute;
  width: 100%;
  margin-top: .54167em;
  top: calc(100% - 1.66667em);
}
