<h2 mat-dialog-title class="title"> {{data?.title ? data.title : 'New filter'}}
</h2>
<mat-dialog-content>
  <!--<form class="sign-up"-->
        <!--[formGroup]="retrieveForm"-->
        <!--(submit)="onSubmit($event, retrieveForm)"-->
        <!--*ngIf="!successSend; else success"-->
  <!--&gt;-->
    <!--<div class="server-error"-->
         <!--*ngIf="serverError"-->
    <!--&gt;-->
      <!--Username with such email does't exist!-->
    <!--</div>-->
    <!--<div class="form-email">-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Email address" formControlName="email" type="email">-->
        <!--<mat-error *ngIf="retrieveForm.get('email').invalid">{{getErrorMessage(retrieveForm.get('email'))}}</mat-error>-->
      <!--</mat-form-field>-->
    <!--</div>-->

    <!--<odds-button class="btn-submit"-->
                 <!--[text]="'Retrieve password'"-->
                 <!--[type]="'submit'"-->
                 <!--[valid]="retrieveForm.valid"-->
                 <!--[invalid]="retrieveForm.invalid"-->
    <!--&gt;</odds-button>-->
  <!--</form>-->

  <!--<ng-template #success>-->
    <!--<div class="success">-->
      <!--<p class="success-text">-->
        <!--Success! Check your email!-->
      <!--</p>-->
      <!--<p>-->
        <!--<a class="success-link" (click)="closed()" [routerLink]="['/auth/sign-in/']">-->
          <!--Return to login-->
        <!--</a>-->
      <!--</p>-->
    <!--</div>-->
  <!--</ng-template>-->

</mat-dialog-content>
