<h2 mat-dialog-title class="title"> {{data?.title ? data.title : 'New filter'}}
</h2>
<mat-dialog-content>
  <form class="form-filter"
        [formGroup]="filterForm"
        (ngSubmit)="onSubmit(filterForm)"
        #form="ngForm"
  >
    <div class="form-name">
      <label for="name" class="filter-name">
        Name
      </label>
      <odds-input formControlName="name" id="name"></odds-input>
    </div>
    <div class="form-bookmakers">
      <label for="bookmaker" class="filter-bookmaker">
        Bookmakers
      </label>
      <odds-select [options]="selectOptions"
                   [settings]="selectSettings"
                   formControlName="bookmakers"
                   id="bookmaker"
      ></odds-select>
    </div>
    <div class="form-markets">
      <label for="markets" class="filter-markets">
        Markets
      </label>
      <odds-select [options]="marketsOptions"
                   [settings]="selectSettings2"
                   formControlName="markets"
                   id="markets"
      ></odds-select>
    </div>
    <div class="form-odds-range">
      <p class="filter-title">
        Odds range
      </p>
      <div class="form-group-field" formGroupName="oddsRange">
        <div class="field-from">
          <label for="range-form">From</label>
          <odds-input-number id="range-form" formControlName="from" [decimal]="true"></odds-input-number>
        </div>
        <div class="field-to">
          <label for="range-to">To</label>
          <odds-input-number id="range-to" formControlName="to" [decimal]="true"></odds-input-number>
        </div>
      </div>
    </div>
    <div class="form-odds-range">
      <p class="filter-title">
        Edge %
      </p>
      <div class="form-group-field" formGroupName="edge">
        <div class="field-from">
          <label for="edge-form">From</label>
          <odds-input-number id="edge-form" formControlName="from" [decimal]="true"></odds-input-number>
        </div>
        <div class="field-to">
          <label for="edge-to">To</label>
          <odds-input-number id="edge-to" formControlName="to" [decimal]="true"></odds-input-number>
        </div>
      </div>
    </div>
    <div class="form-odds-range">
      <p class="filter-title">
        Minutes until start
      </p>
      <div class="form-group-field" formGroupName="time">
        <div class="field-from">
          <label for="time-form">From</label>
          <odds-input-number id="time-form" formControlName="from"></odds-input-number>
        </div>
        <div class="field-to">
          <label for="time-to">To</label>
          <odds-input-number id="time-to" formControlName="to"></odds-input-number>
        </div>
      </div>
    </div>
  </form>
  <mat-dialog-actions>
    <div class="action">
      <odds-button [invalid]="filterForm.invalid"
                   [valid]="filterForm.valid"
                   [fortSize]="'16px'"
                   [text]="'Save'"
                   [type]="'submit'"
                   (click)="form.ngSubmit.emit()"
      ></odds-button>
    </div>
  </mat-dialog-actions>
  <!--<form class="sign-up"-->
        <!--[formGroup]="retrieveForm"-->
        <!--(submit)="onSubmit($event, retrieveForm)"-->
        <!--*ngIf="!successSend; else success"-->
  <!--&gt;-->
    <!--<div class="server-error"-->
         <!--*ngIf="serverError"-->
    <!--&gt;-->
      <!--Username with such email does't exist!-->
    <!--</div>-->
    <!--<div class="form-email">-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Email address" formControlName="email" type="email">-->
        <!--<mat-error *ngIf="retrieveForm.get('email').invalid">{{getErrorMessage(retrieveForm.get('email'))}}</mat-error>-->
      <!--</mat-form-field>-->
    <!--</div>-->

    <!--<odds-button class="btn-submit"-->
                 <!--[text]="'Retrieve password'"-->
                 <!--[type]="'submit'"-->
                 <!--[valid]="retrieveForm.valid"-->
                 <!--[invalid]="retrieveForm.invalid"-->
    <!--&gt;</odds-button>-->
  <!--</form>-->

  <!--<ng-template #success>-->
    <!--<div class="success">-->
      <!--<p class="success-text">-->
        <!--Success! Check your email!-->
      <!--</p>-->
      <!--<p>-->
        <!--<a class="success-link" (click)="closed()" [routerLink]="['/auth/sign-in/']">-->
          <!--Return to login-->
        <!--</a>-->
      <!--</p>-->
    <!--</div>-->
  <!--</ng-template>-->

</mat-dialog-content>
